$def with(numero_1, numero_2, resultado)
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Calculadora</title>
    </head>
    <body>
        <h1>Calculadora</h1>

        <form method="POST">
            <label>Número 1</label><br>
            <input type="number" name="numero_1" id="numero_1" value=$numero_1><br>

            <label>Número 2</label><br>
            <input type="number" name="numero_2" id="numero_2" value=$numero_2><br>

            <label>Resultado</label><br>
            <input type="number" name="resultado" id="resultado" value=$resultado><br>

            <button name="operacion" value="sumar">Sumar</button><br>
            <button name="operacion" value="restar">Restar</button><br>
        </form>

        <a href="/">Index</a>
    </body>
</html>